body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  height: 100%;
  padding-top: 50px; 
}

#google_translate_element {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white; 
  padding-bottom: 50px;
  box-sizing: border-box;
}

.navbar {
  background-color: #500000;
  width: 10%;
  height: 100%;
  overflow: auto;
  position: fixed;
}
.nav-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px 10px 20px;
  color: white;
  background-color: #500000;
  font-size: 14px;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 10px;
}
.nav-button:hover {
  background-color: #730000;
}
.menu-area {
  flex-grow: 1;
  padding-left: 160px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-x: hidden;
  margin-right: 400px;
}
.menu-item {
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.order-tracker {
  width: 20%;
  background-color: #f8f8f8;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}
.order-button, .confirm-button, .cancel-button {
  padding: 8px 10px;
  background-color: #500000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: calc(100% - 20px);
  box-sizing: border-box;
  align-items: center;
  font-size: 12px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
.order-button:hover, .confirm-button:hover, .cancel-button:hover {
  background-color: #730000;
}
.menu-item img {
  max-width: 100%; 
  max-height: 150px; 
  width: auto; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}
.menu-icon {
  fill: white;
}
.order-items li {
  margin-bottom: 10px;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #500000;
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: 100px;
}
.quantity-controls.hidden {
  display: none;
}
.expand-arrow {
  cursor: pointer;
  margin-left: 10px;
  user-select: none;
}
.minus-button, .plus-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  background-color: #800000;
  transition: background-color 0.3s ease;
}
.minus-button:hover, .plus-button:hover {
  background-color: #a00000;
}
.quantity-display {
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
  min-width: 20px;
}

.back-button {
  padding: 10px 15px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #45a049;
}

.edit-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon {
  fill: #007BFF; 
  transition: fill 0.3s ease;
}

.edit-icon:hover {
  fill: #0056b3;
}



.order-item-title {
  font-size: 16px;
  margin-right: 10px;
}


.order-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.order-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.combo-checkbox {
  margin-right: 5px;
  cursor: pointer;
}

.combo-label {
  font-size: 12px;
  color: #500000; 
  cursor: pointer;
}


.combo-label:hover {
  color: #730000; 
}


.top-nav {
  width: 100%;
  background-color: #500000; 
  color: white;
  padding: 10px 20px; 
  text-align: left; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
}

.home-link {
  color: white;
  text-decoration: none; 
  font-size: 16px; 
  font-weight: bold; 
}

.home-link:hover {
  text-decoration: underline;
}
