.rectangle {
      height: 100vh; /* Set height to full viewport height */
      background-color: #f0f0f0; /* Change background color as needed */
}

.bg-lightmaroon{
background-color: #a05252;

}
.full-height{
    height: 100vh;
}

.bg-maroon {
    background-color: #800000;

}


.font-style{
   font-family: 'Roboto', sans-serif;
   font-style: italic;
}

/* make the columns go left to right in the menu-area */
.menu-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.col.rounded-rectangle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 31vw;
    border: 2px solid #000; /* Border style and color */
    border-radius: 10px;
    margin-left: 1vw;

}

/*category display */
.rounded-rectangle{

    border: 2px solid #000; /* Border style and color */
            border-radius: 10px;
}
hr {
    /* make the hr take up the middle 80% of the screen */
    /* make the hr thicker */
    width: 80%;
    border: 2px solid #000;
    /*make the margin left and right auto to center the hr */
    margin-left: auto;
    margin-right: auto;

    border-color: #B8860B;

}

.border-divider {
    border-bottom: 2px dotted black; /* Set border style */
}

/* make the name align to the left */
/* make the dots align to the center */
/* make the price align to the right */
/* make the row take up the width of its parent */
.prod-row {
    display: flex;
    width: 100%; /* Take up the width of its parent */
}

.name {
    /* Align to the left */
    justify-content: flex-start;
}

.dots {
    /* Align to the center */
    justify-content: center;
}

.price {
    /* Align to the right */
    justify-content: flex-end;
}

.border-divider {
    position: relative;
    top: -1vh;
    border-bottom: 2px dotted black; /* Border style */
    flex-grow: 1; /* Grow to fill the space between name and price */
    margin: 0 10px; /* Adjust spacing between name, dots, and price */
}
h1 {
    text-align: center;
    font-style: italic;
}

.title{
     font-style: normal;
     margin-right: 2rem;
}

.text-style-gold{
    color: #ffd700;
}

.navbar {
    min-height: 60px; /* Control the minimum height of the navbar */
    align-items: center; /* Ensure vertical center alignment of all children */
    padding: 0 1rem; /* Horizontal padding */
    justify-content: space-between; /* Spacing between elements */
}

.weather-info {
    display: flex;
    align-items: center; /* Center align the content vertically */
    justify-content: flex-start;
    flex-basis: 20%; /* Adjust as necessary */
    max-height: 50px; /* Set a max height to control the size */
    overflow: hidden; /* Hide any overflow */
    font-size: 0.2rem; /* Adjust font size to reduce space usage */
    padding-left: 20px;
    padding: 5px 10px; /* Minimize padding */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Use ellipsis if text is too long */
}

.weather-left{
    width: 50%;
}
weather-right{
    width: 50%;
}

.translate-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 20%; /* Control size */
}

.title-pic {
    flex-grow: 1; /* Allows it to grow and take available space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-pic h1 {
    margin-right: 20px;         /* Space between title and logo */
    flex-shrink: 0;             /* Prevent the title from shrinking */
}

.title-pic img {
    max-height: 80px; /* Control the image size */
    width: auto; /* Maintain aspect ratio */
}