.rectangle {
      height: 100vh; /* Set height to full viewport height */
      background-color: #f0f0f0; /* Change background color as needed */
}

.bg-lightmaroon{
background-color: #a05252;

}
.full-height{
    height: 100vh;
}

.bg-maroon {
    background-color: #800000;

}


.font-style{
   font-family: 'Roboto', sans-serif;
   font-style: italic;
}

/* make the columns go left to right in the menu-area */
.menu-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.col.rounded-rectangle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 31vw;
    border: 2px solid #000; /* Border style and color */
    border-radius: 10px;
    margin-left: 1vw;

}

/*category display */
.rounded-rectangle{

    border: 2px solid #000; /* Border style and color */
            border-radius: 10px;
}
hr {
    /* make the hr take up the middle 80% of the screen */
    /* make the hr thicker */
    width: 80%;
    border: 2px solid #000;
    /*make the margin left and right auto to center the hr */
    margin-left: auto;
    margin-right: auto;

    border-color: #B8860B;

}

.border-divider {
    border-bottom: 2px dotted black; /* Set border style */
}

/* make the name align to the left */
/* make the dots align to the center */
/* make the price align to the right */
/* make the row take up the width of its parent */
.prod-row {
    display: flex;
    width: 100%; /* Take up the width of its parent */
}

.name {
    /* Align to the left */
    justify-content: flex-start;
}

.dots {
    /* Align to the center */
    justify-content: center;
}

.price {
    /* Align to the right */
    justify-content: flex-end;
}

.border-divider {
    position: relative;
    top: -1vh;
    border-bottom: 2px dotted black; /* Border style */
    flex-grow: 1; /* Grow to fill the space between name and price */
    margin: 0 10px; /* Adjust spacing between name, dots, and price */
}
h1 {
    text-align: center;
    font-style: italic;
}

.text-style-gold{
    color: #ffd700;
}