<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../cashierPage.css"></link>
<script src="https://unpkg.com/htmx.org@1.8.1/dist/htmx.min.js"></script>
<html xmlns:th="http://www.thymeleaf.org"></html>
<title>Cashier Page</title>
<style>
  
</style>
</head>
<body id="all">
<div class="container">
  <div class="sidebar">
      
    <h2>Current Order</h2>
    <div id="outputContainer"></div>
    <p id="orderTotal">Order Total: $0.00</p>
    <form hx-post="/cashierPage/add" hx-target="#all" hx-swap="outerHTML">
      <input type="hidden" name="price"  id="total-price"/>
      <input name="productId" id="ids"/> 
      <button id="placeOrder" type="submit">Place Order</button>
    </form>
    <input name="" id="noIds"/>
    <button id="backButton"class="button">back</button>
  </div>

  <div class="grid">
    <!-- Loop through each product type -->
    <div th:each="productType: ${productTypes}">
      <h3 id="typeHeader"th:text="${#strings.capitalize(productType)}"></h3> <!-- Display product type as section label -->
      <!-- Loop through products of current product type -->
      <div class="grid-item" th:each="item: ${products}">
        <!-- Check if current product belongs to current product type -->
        <th:block th:if="${item.product_type == productType}">
          <button class="button" th:id="${item.product_type}" th:text="${item.productname}">button</button>
          <input type="hidden" class="item-price" th:value="${item.price}" />
          <input type ="hidden" class="item-id" th:value="${item.product_id}" />
          <input type ="hidden" class="item-type" th:value="${item.productType}" />
          <div th:each="thisItem: ${productInventory}">
            <th:block th:if = "${item.product_id == thisItem.productId}">
              <input type="hidden" class="ingredient-ids" th:value="${thisItem.inventoryId}" />
              <div th:each="thisName: ${inventory}">
                <th:block th:if = "${thisName.id == thisItem.inventoryId}">
                  <input type="hidden" th:class="${item.productname} + ${item.product_id}" th:value="${thisName.name} +'-'+${thisName.id}" />
                  
                </th:block>
              </div>
            </th:block>
          </div>
        </th:block>
      </div>
    </div>
  </div>

</div>


<script>

  var outputContainer = document.getElementById('outputContainer');
  var orderTotalParagraph = document.getElementById('orderTotal');
  var totalPrice = document.getElementById('total-price');
  var buttons = document.getElementsByClassName('button');
  var ids = document.getElementById("ids");
  var noIds = document.getElementById("noIds");
  
  
  document.getElementById("backButton").addEventListener("click", function() {
    window.location.href = "../";
  });

  for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', function() {
      var itemName = this.textContent;
      var itemPrice = parseFloat(this.nextElementSibling.value); 
      var itemId = parseInt(this.nextElementSibling.nextElementSibling.value);
      var itemType = this.nextElementSibling.nextElementSibling.nextElementSibling.value;
      var ingredients = document.getElementsByClassName(itemName+itemId);
      var itemIngredients="";
      for(var i=0;i<ingredients.length;i++){
        itemIngredients=itemIngredients+ingredients[i].value+" - ";
      }
      
      addItemToList(itemName, itemPrice, itemId, itemType, itemIngredients);
    });
  }

  function addItemToList(itemName, itemPrice, itemId, itemType, itemIngredients) {
    var itemButton = document.createElement('button');
    itemButton.textContent = itemName + ' - $' + itemPrice.toFixed(2); 
    itemButton.classList.add('ordered-item');
    itemButton.setAttribute('data-price', itemPrice); 
    //itemButton.setAttribute('quantity', 1); 
    itemButton.setAttribute('item-type',itemType);
    itemButton.setAttribute('item-id',itemId);
    itemButton.setAttribute('item-ingredients',itemIngredients);
    itemButton.setAttribute('item-side',"");
    itemButton.setAttribute('item-remove',"");
    itemButton.addEventListener('click', function() {
      openEditWindow(itemButton);
    });
    outputContainer.appendChild(itemButton);
    updateOrderTotal(); 
  }
  
  function openEditWindow(button) {
    var editWindow = window.open('', '_blank', 'width=700,height=500');
    editWindow.document.body.classList.add('edit-window');
    var cssLink = editWindow.document.createElement('link');
    cssLink.rel = 'stylesheet';
    cssLink.href = '../cashierPage.css'; 
    editWindow.document.head.appendChild(cssLink);


    var label = document.createElement('label');
    label.textContent = button.textContent;
    editWindow.document.body.appendChild(label);
    var itemType = button.getAttribute('item-type');

    var comboOptions = ['Fries', 'Chips'];
    var comboSelect = document.createElement('select');
    var defaultOption = document.createElement('option');
    //defaultOption.value = "";
    defaultOption.text = 'Chose Combo';
    comboSelect.appendChild(defaultOption);

    var comboButton = document.createElement('button');
    comboButton.textContent = "Combo";

    

    if (itemType === 'burger' || itemType === 'sandwich') {
      comboButton.disabled = false;
      comboButton.addEventListener('click', function() {
        

        for (var i = 0; i < comboOptions.length; i++) {
          var option = document.createElement('option');
          option.value = comboOptions[i];
          option.text = comboOptions[i];
          comboSelect.appendChild(option);
        }

        var comboPrice = parseFloat(button.getAttribute('data-price')) + 1.90;
        button.setAttribute('data-price', comboPrice);
        editWindow.document.body.appendChild(comboSelect);

        comboSelect.addEventListener('change', function() {
          var selectedOption = comboSelect.options[comboSelect.selectedIndex].text;
          button.textContent = button.textContent.split(' - ')[0] + ' ' + selectedOption + ' Combo - $' + comboPrice.toFixed(2);
          label.textContent = button.textContent;
        });
      });
    } 
    else if(itemType==='basket'){
      comboButton.addEventListener('click', function() {
        var comboPrice = parseFloat(button.getAttribute('data-price')) + 1.10;
        button.setAttribute('data-price', comboPrice);
        button.textContent = button.textContent.split(' - ')[0] + ' Combo - $' + comboPrice.toFixed(2);
        label.textContent = button.textContent;
        button.setAttribute('item-side',"20-");
      });
    }
    else {
      comboButton.disabled = true;
    }

    var noButtonDiv = document.createElement('div');
    noButtonDiv.classList.add('noButtonDiv');
    editWindow.document.body.appendChild(noButtonDiv);

    var itemIngredients = button.getAttribute('item-ingredients');
    var ingredients = itemIngredients.split(' - ');
    var noButtons = [];

    for(var i=0;i<ingredients.length-1;i++){
      (function (index) { // Create a closure to capture the current value of 'i'
        noButtons[index] = document.createElement('button');
        noButtons[index].textContent = 'No ' + ingredients[index].split('-')[0];
        noButtons[index].classList.add('noButton');
        noButtons[index].classList.add('uniqueNoButton'); // Add a unique class
        noButtons[index].addEventListener('click', function () {
          noButtons[index].disabled = true;
          var thePrice = parseFloat(button.getAttribute('data-price'));
          button.textContent = button.textContent.split(' - ')[0] + ' ' + noButtons[index].textContent + ' - $' + thePrice.toFixed(2);
          label.textContent = button.textContent;
          button.setAttribute('item-remove',ingredients[index].split('-')[1]+"-");
        });
        noButtonDiv.appendChild(noButtons[index]);
    })(i); // Pass 'i' to the closure function
    }
    editWindow.document.body.appendChild(comboButton);

    var saveButton = document.createElement('button');
    saveButton.textContent = 'Save';
    saveButton.addEventListener('click', function() {
      //button.textContent = button.textContent + '(' + numberInput.value + ')';
      //button.setAttribute("quantity", parseInt(numberInput.value));
      var selectedOption = comboSelect.options[comboSelect.selectedIndex].text;
      if(selectedOption==='Fries'){
        button.setAttribute('item-side',"23-20-");
      }
      if(selectedOption==="Chips"){
        button.setAttribute('item-side',"26-20-");
      }

      editWindow.close();
      updateOrderTotal();
    });
    editWindow.document.body.appendChild(saveButton);

    var deleteButton = document.createElement('button');
    deleteButton.textContent = 'Delete';
    deleteButton.addEventListener('click', function() {
      button.remove();
      editWindow.close();
      updateOrderTotal();
    });
    editWindow.document.body.appendChild(deleteButton);
  
  }

  function updateOrderTotal() {
    var orderedItems = document.getElementsByClassName('ordered-item');
    var total = 0;
    ids.value = "";
    noIds.value = "";
    for (var i = 0; i < orderedItems.length; i++) {
      var price = parseFloat(orderedItems[i].getAttribute('data-price'));
      var thisId = orderedItems[i].getAttribute('item-id');
      var thisSide = orderedItems[i].getAttribute('item-side');
      var thisRemove = orderedItems[i].getAttribute('item-remove');
      total += price;
      ids.value = ids.value + thisId +"-"+thisSide;
      noIds.value = noIds.value + thisRemove;
    }
    ids.value = ids.value;
    total=total*1.08;
    totalPrice.value=total.toFixed(2);
    orderTotalParagraph.textContent = 'Order Total: $' + total.toFixed(2);
  }

  

</script>
</body>
</html>