<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Page</title>
    <script src="https://unpkg.com/htmx.org@1.8.1"></script>
    <script src="index.js"></script>
</head>
<body>
<div class="landing-page bg-maroon">






        <div class="options-container flex-grow-1">
            <div class="option menu" th:onclick="'window.location.href=\'/menuBoard\''">
                Menu
            </div>
            <div class="option order" th:onclick="'window.location.href=\'/customer\''">
                Order
            </div>

        </div>


</div>


<!-- <a href="menuBoard.html" class="button">Menu Board</a> -->


<script src="http://localhost:35729/livereload.js"></script>


</body>
</html>
