<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Page</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<!-- <a href="pinpad.html" class="button">Pin Pad</a> -->
<a th:href="@{/pinpad}">Go to pinPad Page</a>
<a th:href="@{/manager}">Go to Manager Page</a>
<a href="/menuboard" hx-get="true" class="button">Go to Menu Board</a>
<a th:href="@{/cashierPage}">Go to Cashier Page</a>
<a th:href="@{/Inventory/food}">Go to Manager Inventory</a>
<a href="customer.html" class="button">Go to Customer Page</a>
<!-- <a href="menuBoard.html" class="button">Menu Board</a> -->

<script src="http://localhost:35729/livereload.js"></script>


</body>
</html>
