<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manager Table</title>
  <link id="theme-link" rel="stylesheet" type="text/css" href = ../manager.css>
  <script src="https://unpkg.com/htmx.org@1.8.1/dist/htmx.min.js"></script>
</head>
<body id = "updateArea">
  <span><h2>Products</h2></span><h2><span id = translate>
    <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement(
              {pageLanguage: 'en'},
              'google_translate_element'
          );
      } 
      </script>
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
        <span id="google_translate_element"></span>
        <span><select id="theme-select" onchange="switchTheme(this.value)">
          <option value="../manager.css">Default</option>
          <option value="../managerAlt.css">HighContrast</option>
      </select></span>
  </span></h2>
  <span id = translate>
    <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement(
              {pageLanguage: 'en'},
              'google_translate_element'
          );
      } 
      </script>
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    
        <div id="google_translate_element"></div>
  </span>
  <div id = navBar>
    <a th:href="@{/}" class="nav-btn" >Home</a>
    <a th:href="@{/Manager/Inventory/food}" class="nav-btn" >Food</a>
    <a th:href="@{/Manager/Inventory/utilities}" class="nav-btn">Utilities</a>
    <a th:href="@{/Manager/Inventory/condiments}" class="nav-btn">Condiments</a>
    <a th:href="@{/Manager/Inventory/desert}" class="nav-btn">Dessert</a>
    <a th:href="@{/Manager/Inventory/toppings}" class="nav-btn">Toppings</a>
    <a th:href="@{/Manager/orders}" class="nav-btn">Orders</a>
    <a th:href="@{/manager}" class="nav-btn" style = "background-color: rgba(242, 211, 152);">Products</a>
    <a th:href="@{/Manager/queries}" class = "nav-btn" >Reports</a>
   
  </div>
  <div class="header">
    <div class="header-item">Name</div>
    <div class="header-item">Price</div>
    <div class="header-item">Type</div>
    <div class="header-item">Action</div>
  </div>
<div id = manager-list th:fragment= "manager-list" class = "manager-list">
  <!-- th: is thymleaf and the each tag is saying each value in the item table and the   ${manager} linkes it to the manager controller logic-->
  <div class = "inv">
    <div id = list th:fragment = "manager-list"  th:each="item: ${manager}">
  
     
      <!-- this line is displaying the id attrabute of a row in a product table -->
      <!-- <div class = "id" th:text="${item.product_id}">ID</div> -->
      <div class = item> 

        <div class = "top">

          <form class = ordersForm   id="orderForm" hx-post="manager" hx-target="#updateArea" hx-swap="outerHTML">
            <!-- using this forem to send all the data im getting these correlate to the request paramerets in controller  -->
            <div>
          <input  th:value ="${item.product_id}" name = "id" style="display: none;">
        </div>
        <div>
          <input name = "new-name" id = styledInput class = "name" th:value="${item.productname}"></input>
          <!-- item has all the attributers that the product table has ie name id price ect the th value is just setting the value of the textbox so it has default values if -->
        </div>
          <div>
          <input name = "new-price" id = styledInput class = "price" th:value="${item.price}"></input>
        </div>
        <div>
          <select class = highSelect name="new-item" aria-label="Type">
            <option class = highContrast th:text="${item.productType}" th:value="${item.productType}" disabled selected hidden></option>
    
            <option value="burger">Burger</option>
            <option value="sandwich">Sandwich</option>
            <option value="sweet">Sweet</option>
            <option value="sauce">Sauce</option>
            <option value="beverage">Beverage</option>
            <option value="salad">Salad</option>
            <option value="seasonal">Seasonal</option>
            <option value="basket">Basket</option>
          </select>
        </div>
          <div>
              
              <button class = highContrast type = "submit">
                Update
              </button>
              <button 
              
                      th:attr = "hx-delete = @{/manager/{id}(id = ${item.product_id})}"  
                      hx-swap = "outerHTML"
                      class = highContrast
                      hx-target = "closest .item"
                      
                      >
                      <!-- th:attr is a thymeleaf attribute and hx-delete is a htmx function @{/manager/{id}(id = ${item.product_id})} is mapping for the path varible id and then its saying that id is equal to the corresponding product id in the item table -->
                      Delete
      
              </button>
             
      
            </div>
        </form>
        </div>
        <div class = "bottom content">
          
            <span  class = highContrast >Ingredients:</span>
              <span th:each="junction : ${junction}">
                  <span th:if="${junction.productId} == ${item.product_id}">
                      <span th:each="inv: ${inventory}" th:if="${junction.inventoryId} == ${inv.id}" class="ingredient-name">
                          <span th:text="${inv.name}"></span>
                      </span>
                    </span>
                </span>
              <span class = modify>
              <form hx-post = "manager/addInv" hx-swap ="outerHTML" hx-target="#manager-list">
                <input  th:value ="${item.product_id}" name = "id" style="display: none;">
              <select class = highSelect name = "new-inv-id">
                <option th:each = "inv: ${inventory}" th:if ="${inv.type} != utilities  " th:value = "${inv.id}" th:text = "${inv.name}">
      
                </option>
              </select>
      
              <button class = highContrast  hx-get = "/manager" hx-target="body" hx-swap="outerHTML" type = "submit">Add</button>
              
            </form>
            <form  hx-post = "manager/removeInv" hx-swap = "outerHTML" hx-target="#updateArea">
              <select class = highSelect name = "remove">
                <span th:each="junction : ${junction}">
                  <span th:if="${junction.productId} == ${item.product_id}">
                      <span th:each="inv: ${inventory}" th:if="${junction.inventoryId} == ${inv.id}" class="ingredient-name">
                          <option th:text="${inv.name}" th:value = "${junction.productInventoryId}"></option>
                      </span>
                    </span>
                  </span>
      
              </select>
              <button class = highContrast  type = "submit">Remove</button>
            </form>
          </span>
          
        </div>
      
    
      </div>
     
   
    



    

    </div>
  </div>

</div>
    <div class= item id = "addProduct">
      <div class = "line products">
        
        <input class = highSelect type = "text" name = "new-productsName" id = "new-productsName" placeholder = "name"/>
        <input class = highSelect type = "price" name = "new-productsPrice" id = "new-productsPrice" placeholder="price"/>
        <select class = highSelect type = "type" name = "new-productsType" id = "new-productsType" placeholder="Type">
          <option value="burger">Burger</option>
          <option value="sandwich">Sandwich</option>
          <option value="sweet">Sweet</option>
          <option value="sauce">Sauce</option>
          <option value="beverage">Beverage</option>
          <option value="salad">Salad</option>
          <option value="seasonal">Seasonal</option>
          <option value="coffee">Coffee</option>
        </select>
        <div class = "buttons">
          <button 
          class = highContrast
          hx-post ="manager/add"
          hx-include = "#new-productsName, #new-productsPrice, #new-productsType"
          hx-target = ".manager-list"
          >Add</button>
        </div>
      </div>
      
    </div>
    
  </body>

</html>
<script>
  // Function to switch the theme
  function switchTheme(cssFile) {
      document.getElementById('theme-link').href = cssFile;
      localStorage.setItem('themeManager', cssFile); // Store the theme in localStorage
  }

  // Load the theme from localStorage
  window.onload = function() {
      const savedTheme = localStorage.getItem('themeManager') || '../manager.css'; // Default theme
      document.getElementById('theme-link').href = savedTheme;
      document.getElementById('theme-select').value = savedTheme; // Set the dropdown to reflect the saved theme
  }
</script>